<div
    class="row results"
    ng-if="vm.Response"
>


    <div class="col-md-12">

        <h1>Authentication logs
        <p class="pull-right">UserID: {{ vm.UserID }}&nbsp;</p>
        </h1>

        <div class="account">

            <table class="table table-bordered table-inline table-striped">
                <thead class="thead-default">
                    <tr class="active">
                        <th>Time</th>
                        <th>Event</th>
                        <th>IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in vm.Response.Logs">
                        <td style="width: 140px"> {{ log.Time * 1000 | date:'yyyy/MM/dd HH:mm:ss' }} </td>
                        <td> {{ log.Event | LogAuthEvent }} </td>
                        <td> {{ log.IP }} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="vm.Response">
            <hr>
            <a
                class="btn btn-link"
                ng-click="advanced = !advanced"
            >Show / Hide raw response</a>
            <pre
                ng-show="advanced"
                ng-style="{'height':'100%'}"
            >{{ vm.Response | json }}</pre>
        </div>
    </div>
</div>
