<style type="text/css">
.limit { 
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.container-fluid {
  padding-top: 2rem;
}

a[disabled] {
  pointer-events: none;
  opacity: .5 !important;
}

.mono {
  font-family: monospace;
}

body table.table {
  margin-bottom: 6rem;
}

a {
  cursor: pointer;
}

td { 
  color: #999; 
}
td strong {
  color: #000;
}

span.sender {
  display: block;
  width: 40rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.loader {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 0;
  height: 0;
  font-size: 100rem; 
}

.hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.hexagon .part {
  position: absolute;
  width: .5em;
  height: 0.011em;
  animation: part 8s linear infinite;
}
.hexagon .part::before, .hexagon .part::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: 0.011em 0 0 0.011em;
  transform-origin: right center;
  animation: inner 8s linear infinite;
  animation-play-state: running !important;
}
.hexagon .part::before {
  transform: translateX(-0.00275em) rotate(60deg) translateX(0.00275em);
}
.hexagon .part::after {
  transform: translateX(-0.00275em) rotate(-60deg) translateX(0.00275em);
}
.hexagon .part:nth-child(1) {
  transform: translate(-50%, -50%) rotate(60deg);
}
.hexagon .part:nth-child(2) {
  transform: translate(-50%, -50%) rotate(120deg);
}
.hexagon .part:nth-child(3) {
  transform: translate(-50%, -50%) rotate(180deg);
}
.hexagon .part:nth-child(4) {
  transform: translate(-50%, -50%) rotate(240deg);
}
.hexagon .part:nth-child(5) {
  transform: translate(-50%, -50%) rotate(300deg);
}
.hexagon .part:nth-child(6) {
  transform: translate(-50%, -50%) rotate(360deg);
}
.hexagon:nth-child(1) .part, .hexagon:nth-child(1) .part::before, .hexagon:nth-child(1) .part::after {
  animation-delay: 0s;
}
.hexagon:nth-child(2) .part, .hexagon:nth-child(2) .part::before, .hexagon:nth-child(2) .part::after {
  animation-delay: -1.33333s;
}
.hexagon:nth-child(3) .part, .hexagon:nth-child(3) .part::before, .hexagon:nth-child(3) .part::after {
  animation-delay: -2.66667s;
}
.hexagon:nth-child(4) .part, .hexagon:nth-child(4) .part::before, .hexagon:nth-child(4) .part::after {
  animation-delay: -4s;
}
.hexagon:nth-child(5) .part, .hexagon:nth-child(5) .part::before, .hexagon:nth-child(5) .part::after {
  animation-delay: -5.33333s;
}
.hexagon:nth-child(6) .part, .hexagon:nth-child(6) .part::before, .hexagon:nth-child(6) .part::after {
  animation-delay: -6.66667s;
}
.hexagon:nth-child(7) .part, .hexagon:nth-child(7) .part::before, .hexagon:nth-child(7) .part::after {
  animation-delay: -8s;
}
.hexagon:nth-child(2n) {
  transform: rotate(30deg);
}

@keyframes part {
  from {
    width: 0;
  }
  to {
    width: 1em;
  }
}
@keyframes inner {
  from {
    width: 50%;
  }
  to {
    width: 0%;
  }
}
</style>