<div class='loader'>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
  <div class='hexagon'>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
    <div class='part'></div>
  </div>
</div>