<div class="container-fluid">

	<p ng-show="!Admins">
	<a href class="btn btn-default" ng-click="adminList()" ng-disabled="loading">
	Get Admin List
	</a><br>
	</p>

	<table class="table table-bordered">
		<thead>
			<tr class="active">
				<th>Username</th>
				<th>Level</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="admin in Supers">
				<th>{{ admin }}</th>
				<th>Super</th>
			</tr>
			<tr ng-repeat="super in Admins">
				<td>{{ super }}</td>
				<td>Admin</td>
			</tr>
		</tbody>
	</table>

</div>