<div
    class="row results"
    ng-if="response.Results.length"
    ng-repeat="result in response.Results"
>

    <div class="col-md-12">
        <h1 ng-if="result.User.UserName"> {{ result.User.UserName }} </h1>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="info">
            <th>Username</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="super in ctrl.Supers">
            <th>{{ super }}</th>
            <th>Super</th>
        </tr>
        <tr ng-repeat="admin in ctrl.Admins">
            <td>{{ admin }}</td>
            <td>Admin</td>
        </tr>
    </tbody>
</table>

<div>
    <hr>
    <a
        class="btn btn-link"
        ng-click="advanced = !advanced"
    > Show / Hide raw response </a>
    <pre
        ng-show="advanced"
        readonly
        class="form-control"
        ng-style="{'height':'100%'}"
    > {{ ctrl.Response | json }} </pre>
    <hr>
</div>
