<div class="container-fluid">

	<div class="row">
		<form class="form-inline col-md-8 col-md-offset-2" ng-submit="lookup()">
			<div class="form-group text-center" ng-style="{'width':'100%'}">
				<input id="lookupField" type="text" class="form-control input-lg" ng-model="lookupString" placeholder="Username or Email">
				<button type="submit" class="btn btn-primary btn-lg" ng-disabled="loading">User Lookup</button>
			</div>
		</form>
	</div>

	<br>

	<ng-include src="'templates/_info.html'"></ng-include>

	<hr>

	<pre ng-show="advanced" readonly class="form-control" ng-style="{'height':'20rem'}">{{ lookupResponse }}</pre>

	<p ng-show="lookupResponse.Users.length || lookupResponse.Invites.length">
		<a class="btn btn-link" href ng-click="advanced = !advanced">Show / Hide raw response</a>
	</p>

</div>