<div class="container-fluid">

  <div class="account">
    <kbd class="pull-right mono">119.22/100 MB</kbd>
    <h2>notify</h2>
    <table class="table table-bordered">
      <tbody>
        <tr class="active">
          <th>Sender</th>
          <th>Title</th>
          <th>Time</th>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span>JBridges &lt;bridges@protonmail.ch&gt;</span></td>
          <td class="title">Re: Protonmail Account for jbridges</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span> Jason Cox &lt;Jason.Cox@lee.net&gt;</span></td>
          <td class="title">Out of Office: You have 1 new message(s) in your ProtonMail account m***********@protonmail.ch.</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span>"Karl Moore" &lt;karl@inspire3.com&gt;</span></td>
          <td class="title">ProtonMail, CONFIRMATION REQUIRED.</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="account">
    <kbd class="pull-right mono">119.22/100 MB</kbd>
    <h2>notify</h2>
    <table class="table table-bordered">
      <tbody>
        <tr class="active">
          <th>Sender</th>
          <th>Title</th>
          <th>Time</th>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span>JBridges &lt;bridges@protonmail.ch&gt;</span></td>
          <td class="title">Re: Protonmail Account for jbridges</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span> Jason Cox &lt;Jason.Cox@lee.net&gt;</span></td>
          <td class="title">Out of Office: You have 1 new message(s) in your ProtonMail account m***********@protonmail.ch.</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span>"Karl Moore" &lt;karl@inspire3.com&gt;</span></td>
          <td class="title">ProtonMail, CONFIRMATION REQUIRED.</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="account">
    <kbd class="pull-right mono">119.22/100 MB</kbd>
    <h2>notify</h2>
    <table class="table table-bordered">
      <tbody>
        <tr class="active">
          <th>Sender</th>
          <th>Title</th>
          <th>Time</th>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span>JBridges &lt;bridges@protonmail.ch&gt;</span></td>
          <td class="title">Re: Protonmail Account for jbridges</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span> Jason Cox &lt;Jason.Cox@lee.net&gt;</span></td>
          <td class="title">Out of Office: You have 1 new message(s) in your ProtonMail account m***********@protonmail.ch.</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
        <tr>
          <td class="sender"><i class="fa fa-lock"></i> <span>"Karl Moore" &lt;karl@inspire3.com&gt;</span></td>
          <td class="title">ProtonMail, CONFIRMATION REQUIRED.</td>
          <td class="time mono">Aug 03 2015 21:49:58</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>