<div class="container-fluid">

    <h1>Partners</h1>

    <table class="table table-bordered">
        <tr>
            <th>ReferrerID</th>
            <th>Name</th>
            <th>Identifier</th>
            <th>Payout Term</th>
            <th>Creation Term</th>
            <th>Payout Expiration Time</th>
            <th>Creation Expiration Time</th>
            <th>Payout Percentage</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Evil Batman Pup</td>
            <td>woof</td>
            <td>12</td>
            <td>12</td>
            <td>0</td>
            <td>0</td>
            <td>20</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jason</td>
            <td>jason</td>
            <td>12</td>
            <td>12</td>
            <td>0</td>
            <td>0</td>
            <td>30</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Snowden</td>
            <td>ed</td>
            <td>12</td>
            <td>24</td>
            <td>0</td>
            <td>0</td>
            <td>15</td>
        </tr>
    </table>

    <br>

    <h2>Partner Lookup</h2>
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label>Partner</label>
                    <select class="form-control">
                        <option>-- Choose --</option>
                        <option>[ All ]</option>
                        <option>Evil Batman Pup</option>
                        <option>Jason</option>
                        <option>Snowden</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label>Time</label>
                    <select class="form-control">
                        <option>This Month</option>
                        <option>Last Month</option>
                        <option>Custom</option>
                    </select>
                </div> 
                <button class="btn btn-default" type="button">Lookup</button>
                <a href="#" class="btn btn-success pull-right"><i class="fa fa-retweet"></i> Generate Report(s)</a>
            </form>
        </div>
        <div class="col-md-8">
            <h4>Evil Batman Pup - This Month</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Signups All</th>
                    <td>12,345</td>
                </tr>
                <tr>
                    <th>Signups Paid</th>
                    <td>1,234</td>
                </tr>
                <tr>
                    <th>Net Income</th>
                    <td>7,890</td>
                </tr>
                <tr>
                    <th>Chargebacks</th>
                    <td>123</td>
                </tr>
                <tr>
                    <th>Gross Income</th>
                    <td>7,767</td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <h2>Partner Reports</h2>

    <br>

    <div class="list-group" style="width: 40rem">
        <a href="#" class="list-group-item">
            <i class="fa fa-download"></i> jason_oct_2016
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-download"></i> woof_apr_2015
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-download"></i> ed_14780326642840-1478036216
        </a>
    </div>

    <br><br>

</div>
