<div class="container-fluid">

    <h1>Partners</h1>

    <table class="table table-bordered" ng-init="refList()">
        <tr>
            <th>ReferrerID</th>
            <th>Name</th>
            <th>Identifier</th>
            <th>Payout Term</th>
            <th>Creation Term</th>
            <th>Payout Expiration Time</th>
            <th>Creation Expiration Time</th>
            <th>Payout Percentage</th>
        </tr>
        <tr ng-if="Referrers.Referrers.length" ng-repeat="ref in Referrers.Referrers">
            <td>{{ ref.ID }}</td>
            <td>{{ ref.Name }}</td>
            <td>{{ ref.Identifier }}</td>
            <td>{{ ref.PayoutTerm }}</td>
            <td>{{ ref.CreationTerm }}</td>
            <td>{{ ref.PayoutExpirationTime }}</td>
            <td>{{ ref.CreationExpirationTime }}</td>
            <td>{{ ref.PayoutPercentage }}</td>
        </tr>
    </table>

    <br>

    <h2>Partner Lookup</h2>

    <code>{{ partnerID }}</code>
    <code>{{ $scope.partnerID }}</code>

    <div class="row">
        <div class="col-md-4">
            <form ng-show="Referrers.Referrers.length">
                <div class="form-group">
                    <label>Partner</label>
                    <div class="list-group">
                        <a ng-repeat="ref in Referrers.Referrers" class="list-group-item" ng-click="refLookup(ref.Identifier)"><small>Lookup:</small> {{ ref.Name }}</a>
                    </div>
                </div> 
                <div class="form-group">
                    <label>Time</label>
                    <select class="form-control">
                        <option>This Month</option> 
                        <option>Last Month</option>
                        <option>Custom</option>
                    </select>
                </div> 
            </form>
        </div>
        <div class="col-md-8">
            <div ng-hide="Partner">
                <p>&nbsp;</p>
                <p class="alert alert-info text-center">
                    <i class="fa fa-arrow-left fa-2x"></i><br><br>
                    Choose a Partner to Lookup
                </p>
            </div>
            <div ng-show="Partner">
                <h4>{{ Partner.ID }} - This Month</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>Signups All</th>
                        <td>{{ Partner.SignupsAll }}</td>
                    </tr>
                    <tr>
                        <th>Signups Paid</th>
                        <td>{{ Partner.SignupsPaid }}</td>
                    </tr>
                    <tr>
                        <th>Net Income</th>
                        <td>{{ Partner.Income }}</td>
                    </tr>
                    <tr>
                        <th>Chargebacks</th>
                        <td>{{ Partner.Chargebacks }}</td>
                    </tr>
                    <tr>
                        <th>Conversion Rate</th>
                        <td>{{ Partner.ConversionRate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br>

    <h2>Partner Reports</h2>

    <br>

    <div class="list-group" style="width: 40rem">
        <a href="#" class="list-group-item">
            <i class="fa fa-download"></i> jason_oct_2016
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-download"></i> woof_apr_2015
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-download"></i> ed_14780326642840-1478036216
        </a>
    </div>

    <br><br>

    <div ng-show="!!Partners.length">
        <hr>
        <a class="btn btn-link" ng-click="advanced = !advanced">Show / Hide raw response</a>
        <pre ng-show="advanced" readonly ng-style="{'height':'100%'}">{{ Partners | json }}</pre>
    </div>

</div>
