<div class="container-fluid">
    <div class="list-group-item form-inline text-center">
        <a href class="btn btn-primary btn-lg" ng-click="GetUserPayments()" ng-disabled="loading">View payments</a>
    </div>

    <div class="account" ng-if="ResponsePayments.data">
        <h3>Invoices</h3>
        <table class="table table-bordered table-inline">
            <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Type</th>
                    <th>State</th>
                    <th>Currency</th>
                    <th>AmountDue</th>
                    <th>AmountCharged</th>
                    <th>CreateTime</th>
                    <th>ModifyTime</th>
                    <th>AttemptTime</th>
                    <th>Attempts</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in ResponsePayments.data.Invoices">
                    <td>
                        {{ invoice.ID }}
                    </td>
                    <td>
                        {{ invoice.Type }}
                    </td>
                    <td>
                        {{ invoice.State }}
                    </td>
                    <td>
                        {{ invoice.Currency }}
                    </td>
                    <td>
                        {{ invoice.AmountDue / 100}}
                    </td>
                    <td>
                        {{ invoice.AmountCharged / 100}}
                    </td>
                    <td style="width: 140px">
                        {{ invoice.CreateTime * 1000 | date:'yyyy/MM/dd HH:mm:ss' }}
                    </td>
                    <td style="width: 140px">
                        {{ invoice.ModifyTime * 1000 | date:'yyyy/MM/dd HH:mm:ss' }}
                    </td>
                    <td style="width: 140px">
                        {{ invoice.AttemptTime * 1000 | date:'yyyy/MM/dd HH:mm:ss' }}
                    </td>
                    <td>
                        {{ invoice.Attempts }}
                    </td>
                    <td>
                        <a href ng-click="GetInvoice(invoice.ID)">PDF</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="account" ng-if="ResponsePayments.data">
        <h3>Individual charges</h3>
        <table class="table table-bordered table-inline">
            <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>CurrencyCharged</th>
                    <th>AmountCharged</th>
                    <th>Time</th>
                    <th>Provider</th>
                    <th>ExternalChargeID</th>
                    <th>Reversed</th>
                    <th>ForbiddenHash</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in ResponsePayments.data.Charges">
                    <td>
                        {{ charge.ID }}
                    </td>
                    <td>
                        {{ charge.Currency }}
                    </td>
                    <td>
                        {{ charge.Amount / 100}}
                    </td>
                    <td>
                        {{ charge.CurrencyCharged }}
                    </td>
                    <td>
                        {{ charge.AmountCharged / 100}}
                    </td>
                    <td style="width: 140px">
                        {{ charge.Time * 1000 | date:'yyyy/MM/dd HH:mm:ss' }}
                    </td>
                    <td>
                        {{ charge.Provider }}
                    </td>
                    <td>
                        {{ charge.ExternalChargeID }}
                    </td>
                    <td>
                        {{ charge.Reversed }}
                    </td>
                    <td>
                        {{ charge.ForbiddenHash }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="ResponsePayments.data">
        <hr>
        <a class="btn btn-link" ng-click="advanced = !advanced">Show / Hide raw response</a>
        <pre ng-show="advanced" readonly class="form-control" ng-style="{'height':'100%'}">{{ ResponsePayments | json }}</pre>
    </div>

</div>
