<div class="row">
    <form
        method="POST"
        id="blastForm"
        name="blastForm"
        ng-submit="vm.Blast()"
    >

        <div
            class="col-md-12 form-group alert"
            ng-class="{ 'alert-info': !vm.BlastMode, 'alert-warning': vm.BlastMode }"
        >
            <p>Blast Mode:</p>
            <p>
                <label>
                    <input
                        type="radio"
                        ng-value="false"
                        ng-model="vm.BlastMode"
                    > Normal Mode</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <label>
                    <input
                        type="radio"
                        ng-value="true"
                        ng-model="vm.BlastMode"
                    > Except Mode</label>
            </p>
        </div>

        <div class="col-md-12 form-group">
            <label>Subject</label>
            <input
                type="text"
                class="form-control"
                placeholder="Subject"
                ng-model="vm.BlastSubject"
            > </div>

        <div class="col-md-12 form-group">
            <label>Body:</label>
            <textarea
                class="form-control"
                ng-style="{'height':'20rem'}"
                ng-model="vm.BlastMessage"
            ></textarea>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Username List:</label>
                <textarea
                    class="form-control"
                    ng-style="{'height':'20rem'}"
                    ng-model="vm.BlastList"
                ></textarea>
            </div>

            <div class="col-md-6">
                <label>Example:</label>
                <pre>jason andy dcl </pre>
                <button
                    type="submit"
                    class="btn btn-primary"
                >
                Blast to List
                </button>
            </div>
        </div>
    </form>

    <div class="col-md-12">
        <hr>
        <a
            class="btn btn-link"
            ng-click="advanced = !advanced"
        > Show / Hide raw response </a>
        <pre
            ng-show="advanced"
            readonly
            class="form-control"
            ng-style="{'height':'100%'}"
        > {{ vm.Response | json }} </pre>
        <hr>
    </div>
</div>
