<div class="row">
    <form
        method="POST"
        class="form-inline col-md-10 col-md-offset-2"
        ng-submit="vm.LookupUser()"
    >

        <div
            class="form-group text-center"
            ng-style="{'width':'100%'}"
        >
            <input
                id="lookupField"
                type="text"
                class="input-lg"
                ng-model="vm.LookupString"
                placeholder="Search for ..."
            >
            <label>
                <select
                    ng-model="vm.CurrentFuzzyOption"
                    class="form-control"
                    ng-options="value.label for value in vm.FuzzyOptions"
                ></select>
            </label>
        </div>

        <div class="text-center">
            <br>
            <button
                type="submit"
                class="btn btn-primary btn-lg"
                ng-disabled="loading"
                ng-click="vm.LookupUser()"
            >User/Address/Invite</button>
            <button
                type="submit"
                class="btn btn-primary btn-lg"
                ng-disabled="loading"
                ng-click="vm.LookupOrganization()"
            >Organization</button>
            <button
                type="submit"
                class="btn btn-primary btn-lg"
                ng-disabled="loading"
                ng-click="vm.LookupDomain()"
            >Domain</button>
            <button
                type="submit"
                class="btn btn-primary btn-lg"
                ng-disabled="loading"
                ng-click="vm.LookupCharge()"
            >Payment</button>
        </div>
    </form>
</div>
<br>

<div ng-if="vm.Response">
    <lookup-user
        ng-if="'private.lookupUser' | isState"
        data-model="vm.Response"
    ></lookup-user>
    <lookup-organization
        ng-if="'private.lookupOrganization' | isState"
        data-model="vm.Response"
    ></lookup-organization>
    <lookup-domain
        ng-if="'private.lookupDomain' | isState"
        data-model="vm.Response"
    ></lookup-domain>
    <lookup-charge
        ng-if="'private.lookupCharge' | isState"
        data-model="vm.Response"
    ></lookup-charge>
</div>

<div>
    <hr>
    <a
        class="btn btn-link"
        ng-click="advanced = !advanced"
    > Show / Hide raw response </a>
    <pre
        ng-show="advanced"
        readonly
        class="form-control"
        ng-style="{'height':'100%'}"
    > {{ vm.Response | json }} </pre>
    <hr>
</div>
