<p
    class="text-center"
    ng-show="!vm.Accounts"
    >
    <a
        href
        class="btn btn-primary btn-lg"
        ng-click="vm.Monitor()"
        ng-disabled="loading"
    >Get Accounts</a>
    <br>
    <em>This can take up to a minute and will freeze the app</em>
</p>
<h2
    class="alert alert-info"
    ng-show="vm.Accounts"
>
    <a
        ng-click="vm.Monitor()"
        ng-disabled="loading"
        class="pull-right btn btn-primary btn-lg"
    >
        <span class="fa fa-refresh"></span> Refresh Accounts </a>
    <code>{{ vm.TotalUnread }}</code> unread messages
</h2>

<div
    class="account"
    ng-repeat="acc in vm.Accounts"
>
    <a>
        <h1
            ng-click="acc.IsEncrypted = !acc.IsEncrypted"
            id="{{ acc.Name }}"
        >
            {{ acc.Name }}
            <p class="pull-right">{{ acc.Total }} unread &nbsp;</p>
        </h1>
    </a>

    <table
        class="table table-bordered table-striped"
        ng-show="acc.IsEncrypted"
    >
        <thead>
            <tr class="active">
                <th>Sender</th>
                <th>Title</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in acc.Messages">
                <td style="width: 10rem">
                    <span class="sender">
                        <strong>{{ msg.SenderName }}</strong> &lt;{{ msg.SenderAddress }}&gt; </span>
                </td>
                <td>
                    <strong>{{ msg.Subject }}</strong>
                </td>
                <td style="width: 140px">{{ msg.Time*1000 | date }}</td>
            </tr>
        </tbody>
    </table>
</div>
