<form
    method="post"
    id="pm_login"
    class="form-group loginForm-containter"
    novalidate role="form"
    autocomplete="on"
    ng-submit="enterLoginPassword()"
    onsubmit="return false"
    action="login">

    <h4 class="text-center margin-bottom">
        <i class="fa fa-user title-icon"></i> <span translate-context="Title" translate>Admin panel login</span>
    </h4>

    <div class="form-group">
        <input
            autofocus
            autocapitalize="off"
            autocorrect="off"
            type="text"
            ng-model="username"
            tabindex="1"
            id="username"
            name="username"
            placeholder-translate="Username"
            class="form-control loginForm-input-username"
            required="" />

        <input
            maxlength="{{ ::maxPW }}"
            autocapitalize="off"
            autocorrect="off"
            type="password"
            ng-model="password"
            tabindex="2"
            id="password"
            name="password"
            class="form-control loginForm-input-password"
            required=""
            placeholder-translate="Password" />
    </div>

    <div class="form-group text-center">
        <button
            id="login_btn"
            type="submit"
            tabindex="3"
            class="btn btn-primary btn-lg text-center loginForm-btn-submit"
            ng-class="{disabled: networkActivity.loading()}"
            translate-context="Action"
            translate
            >
            Login
        </button>
    </div>

    <input type="hidden" id="hashed_pw" name="hashed_pw" />

</form>
