<form
    method="post"
    id="pm_loginTwoFactor"
    class="form-group"
    novalidate
    role="form"
    autocomplete="off"
    ng-submit="enterTwoFactor()"
    onsubmit="return false"
    action="loginTwoFactor"
>

    <div class="form-group">
        <h4 class="text-center margin-bottom">
            <i class="fa fa-user title-icon"></i>
            <span
                translate-context="Title"
                translate
            >Two-factor authentication</span>
        </h4>

        <div
            class="alert alert-danger"
            id="error521"
            ng-if="error"
        >{{ error.message }}</div>
        <input
            autofocus
            maxlength="{{ ::maxPW }}"
            autocapitalize="off"
            autocorrect="off"
            type="text"
            ng-model="twoFactorCode"
            tabindex="2"
            id="twoFactorCode"
            autocomplete="off"
            name="twoFactorCode"
            class="form-control TwoFA-input"
            required=""
            placeholder-translate="Two-factor passcode"
        />
    </div>

    <div class="form-group text-center">
        <button
            id="login_btn"
            type="submit"
            tabindex="3"
            class="btn btn-primary btn-lg text-center"
            ng-class="{disabled: networkActivity.loading()}"
            translate-context="Action"
            translate
        >Login</button>
    </div>
</form>
