<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Admin Dashboard</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/papaparse/papaparse.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-title"><span>NAVIGATION</span></li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a href="/#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a href="/#/monitor">Monitor <span class="menu-icon fa fa-eye"></span></a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a href="/#/blast">Blast <span class="menu-icon fa fa-bullhorn"></span></a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a href="/#/debug">Debug <span class="menu-icon fa fa-list"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div ng-if="isLoggedIn()">
          <a href ng-click="logout()">Logout of <kbd>{{ user.Name }}</kbd></a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <p class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
          <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </p>

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

</body>
</html>