<!doctype html>
<html lang="en" ng-app="RDash" ng-class="{ 'limit': loading }">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Admin Dashboard</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/papaparse/papaparse.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>

  <style type="text/css">
  .alerts-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 999;
    opacity: .95;
  }
  .row {
    clear: both;
  }
  .col {
    float: left;
    width: 49%;
  }
  .col:nth-child(1) {
    float: right;
  }
  </style>
  <ng-include src="'templates/_loaderStyle.html'"></ng-include>
</head>
<body ng-controller="MasterCtrl" ng-class="{ 'limit': loading }">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-title"><span>NAVIGATION</span></li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a ng-disabled="loading" href="/#/lookup/">Lookup <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a ng-disabled="loading" href="/#/monitor">Monitor <span class="menu-icon fa fa-eye"></span></a>
        </li>
        <li ng-if="isLoggedIn() && user.Scope=='admin super'" class="sidebar-list">
          <a ng-disabled="loading" href="/#/blast">Blast <span class="menu-icon fa fa-bullhorn"></span></a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a ng-disabled="loading" href="/#/multi-lookup">MultiLookup <span class="menu-icon fa fa-list"></span></a>
        </li>
        <li ng-if="isLoggedIn()" class="sidebar-list">
          <a ng-disabled="loading" href="/#/admin-list">Admin List <span class="menu-icon fa fa-star"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer"> 
        <div ng-if="isLoggedIn()">
          <a href ng-click="logout()">Log out <kbd>{{ user.Name }}</kbd></a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <p class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
          <alert 
          data-ng-repeat="alert in alerts" 
          type="{{alert.type}}" 
          close="closeAlert($index)" 
          ng-click="closeAlert($index)"
          ng-bind-html="alert.msg"></alert>
        </p>

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->


  <ng-include src="'templates/_loaderCode.html'" ng-show="loading"></ng-include>
</body>
</html>