.alerts-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
  opacity: .95;
}
.row {
  clear: both;
}
.col {
  float: left;
  width: 49%;
}
.dotted {
  border-bottom: 1px dotted #000;
}
.col.right {
  float: right;
}
body .list-group-item.disabled {
  padding: 1px;
}
section .row.results {
  margin-bottom: 4rem;
}
.row.results h1 {
  background: #30426a;
  display: block;
  padding-left: 40px;
  margin-left:-20px;
  color: #fff;
  line-height: 2em;
}

.limit {
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.container-fluid {
  padding-top: 2rem;
}

a[disabled] {
  pointer-events: none;
  opacity: .5 !important;
}

.mono {
  font-family: monospace;
}

a {
  cursor: pointer;
}

td {
  color: #666;
}
td strong {
  color: #000;
}

span.sender {
  display: block;
  width: 40rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.loader {
  position: absolute;
  right: 5%;
  bottom: 5%;
  -webkit-animation: rotator .5s linear infinite;
          animation: rotator .5s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1s ease-in-out infinite, colors 4s ease-in-out infinite;
          animation: dash 1s ease-in-out infinite, colors 4s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
